.container {
    background-color : white;
    position         : relative;
    width            : 50%;
}

/* Make the image responsive */
.container img {
    height : auto;
    width  : 100%;
}

.first {
    left     : 30%;
    position : absolute;
    top      : 40%;
}

.second {
    left     : 50%;
    position : absolute;
    top      : 40%;
}

.third {
    left     : 80%;
    position : absolute;
    top      : 40%;
}